body{
	page-orientation:vertical;
	
	background-color: #fbffcf;
	color: #212b97;
	display: flex;
	justify-content: center;
	height: 1oovh;
	align-items: center;
	
	font-family: arial ;
	text-align: center;
	
	
}
.box{
	background-color: #f7fffe;
	padding: 75px;
	border-radius: 10px;
	text-align: center;
	width: 100%;
	max-width: 792px;
	margin: 0 auto;
	min-height: 300px;
	height:auto;
	
	
	
	
}
button{
	width:90%;
	padding: 12px;
	margin-top: 30px;
	margin-bottom:42px;
	background-color: #185804;
	border: none;
	font-size: 19px;
	cursor: pointer;
	color:rgb(234 233 218)

}
img{
	
	
 	
  	height: 100px;
	width:100px;
	border-radius:50%;
	border:2px solid black;
	object-fit:cover;
	
	
}
h1{
	color:red;
}

a{
	color:#16fb1f;
	
	background-color:#00000000;
	
	width:50;
	padding: 12px;

	margin-top:12px;
	
	
	

	
	
	
}




.new{
	color: red;
}
.nb{
	background-color:#facbcb;
	color:blue;

}
.sm{
	img{
		border:none;
		
	}
	a{
		background-color: #00000000;
	}
	img:hover{
		transform:scale(1.05);inherit
		transition:0.3s;
	}
}
.co{

	margin-top:50px;
	img{
		border:none;
		height:40px;
		width:40px;
		
	}
	a{
		background-color: #ffffff;
	}
	img:hover{
		transform:scale(1.05);inherit
		transition:0.3s;
	}
	
}
.cot{
	margin-top:5px;
	img{
		height:40px;
		width:40px;
		border:none;
	}
	a{
		background-color:white;
	}
	img:hover {
		transform:scale(1.5);inherit
		transition:0.3s;
		
	}
}

@media (min-width: 792px) and (max-width:1311px){
	.box{
		width:100%;
		padding: 20px;
	
		
	}
	h1{
		font-size:28px;
		
	}
	button{
		font-size:16px;
	}
	
}